html{
    background-color: #59B4C3;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;

}

h1{
    background-color: #211C6A;
    color: #74E291;
}

h2, h3{
    background-color: #211C6A;
    color: #74E291;
}

footer{
    background-color: #EFF396;
}

li{
    font-family: sans-serif;
}

.clarify{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
}
