html{
    background-color: #EFF396;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;

}

#title{
    width: 80%;
    margin-left: 10%;
    text-align: center;
    background-color: #74E291;
    color: #211C6A;
    margin-bottom: 0px;
    border: 10px solid black;
    margin-top: 20px;
    margin-bottom: 10px;

}

#myPhoto{
    background-color: #211C6A;
    width: 50%;
    text-align: center;
    height: 300px;
    border: 10px solid black;
}

#about{
    height: 300px;
    border: 10px solid black;
    width: 50%;
    margin-left: 40%;
    text-align: center;
    background-color:chocolate;
    color: #211C6A;
    font-weight: 600;
}

#Education{
    height: 300px;
    border: 10px solid black;
    width: 50%;
    margin-left: 0%;
    text-align: center;
    background-color:aqua;
    color: #211C6A;
}
#Certifications{
    height: 300px;
    border: 10px solid black;
    width: 50%;
    margin-left: 40%;
    text-align: center;
    background-color:darkslategray;
    color: #EFF396;
    font-weight: 600;
}

img{
    border: 10px solid white;
    height: 80%;
    margin-top: 6%;
}

.date{
    text-align: left;
}

/* h1{
    background-color: #211C6A;
    color: #74E291;
}

h2, h3{
    background-color: #211C6A;
    color: #74E291;
}
 */
footer{
    background-color: #EFF396;
}

li{
    font-family: sans-serif;
}

.clarify{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style:normal;
    font-weight: 600;
}
